header {
    background-color: rgb(99, 136, 238);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(250, 246, 246);
}
body {
    background-color: rgb(250, 246, 246);;
}

