<!DOCTYPE html>
<html lang="en">
    <head>
        <title>homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">       
    </head>
  <div class="container-fluid p-3 my-3 bg-dark text-white">
    <header>    
        <div class="mx-auto" style="width: 600px;">
            <h1>Grey Sloan Memorial Hospital</h1>
        </div>
        <div class="mx-auto" style="width: 300px;">
            <h3>Seattle's #1 Hospital</h3>
        </div>
      </div> 
    </header>
    <body>
      <nav class="navbar navbar-expand-sm bg-light justify-content-center">
          <button class="btn btn-primary"> Patient Portal </button>
          <button class="btn btn-primary"> Contact Us </button>
          <button class="btn btn-primary"> Departments </button>
          <button class="btn btn-primary"> Directions </button>
          <button class="btn btn-primary"> Make a Payment </button>
          <button class="btn btn-primary"> Donate </button>
      </nav>
          
    </body>
    <div class="mx-auto" style="width: 300px;">
      <h1>Meet the team</h1>
  </div>
<div class="mx-auto" style="width:fit-content">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Greys-Anatomy-Season-7-Promo-9.jpg/220px-Greys-Anatomy-Season-7-Promo-9.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dr. Meredith Grey</h5>
      <p class="card-text">Owner of the hospital. Survived plane crash, drowning, bombing, a shooting, and gave birth to her child in an nonfunctioning OR.</p>
      <a href="#" class="btn btn-primary">Contact Information</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/8/87/Dr._Miranda_Bailey.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dr. Miranda Bailey</h5>
      <p class="card-text">Chief of hospital. Delivered Dr. Grey's baby in the OR successfully, her first procedure since the trauma she experienced.</p>
      <a href="#" class="btn btn-primary">Contact Information</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/3/34/Dr._Richard_Webber.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dr. Richard Webber</h5>
      <p class="card-text">Ex chief of hospital. Dr. Grey's mom's lover for many years. In charge of teaching residents. </p>
      <a href="#" class="btn btn-primary">Contact Information</a>
    </div>
  </div>
</div>
</html>