<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">       
    </head>
  <div class="container-fluid p-3 my-3 bg-dark text-white">
    <header>    
        <div class="mx-auto" style="width: 600px;">
            <h1>Grey Sloan Memorial Hospital</h1>
        </div>
    </header>
</div>
    <body>
        <h3>WARNING: If you just started watching Grey's Anatomy do not read the paragraphs on the other pages.</h3>
        <a href="https://www.youtube.com/watch?v=Uz3Hqq15sTs" class="btn btn-info" role="button">Grey's Anatomy Funny Moments</a>
    </body>
</div>
</html>